# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
turbovault-env/
ENV/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# VS Code
.vscode/

# Project-specific
src/turbovault4dbt/backend/procs/sqlite3/__pycache__/
src/turbovault4dbt/backend/__pycache__/
src/turbovault4dbt/models/
src/turbovault4dbt/backend/config/config.ini
dump.db
*.sty

# Ignore test outputs
/tests/**/actual_output/
/tests/**/output/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore old venvs
/tvdb-venv/
/VenTurboVault/